.feedback-form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  padding: 12px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.feedback-form button {
  padding: 8px 12px;
  font: inherit;
  cursor: pointer;
}

input,
textarea {
  padding: 8px;
  font: inherit;
}

textarea {
  resize: none;
}
/* ==========================================================================  FILMOTEKA  ================================ */
.titleEl {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 30px;
  justify-content: center;
}
.list {
  list-style: none;
  border-radius: 10px;

  width: 274px;
}
.title {
  font-size: 15px;
}
ul {
  padding: 0;
  margin: 0;
}
/* .link {
  height: 100%;
} */
.photo {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.button {
  border-radius: 10px;
  background-color: red;
  margin-top: 20px;
  /* justify-content: center;
  align-items: center;
  display: flex; */
  margin: auto;
  display: flex;
}
.class__photo {
  height: 398px;
  width: 100%;
}
