.search-form {
  position: fixed;
  z-index: 999;
  display: flex;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  align-content: center;
  justify-content: center;
  height: 40px;
  padding: 5px;

  // padding: 5px calc(50% - 120px);
  background-color: blue;
}
.search-input {
  padding: 5px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
  margin-top: 40px;
  justify-content: center;
  padding-top: 20px;
  background-color: blue;
}
.photo-card {
  position: relative;

  transform: scale(1);
}
.photo-card:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}
.photo-card:focus {
  transform: scale(1.1);
  transition-duration: 1s;
}
.image {
  box-shadow: 10px 10px 10px #000;
  border-radius: 5px;
}
.info {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  padding: 0 5px;
  background-color: rgba(32, 31, 31, 0.89);
  width: 240px;
  height: 40px;
}
.info-item {
  font-size: 12px;
  color: grey;
  text-align: center;
  margin-right: 5px;
}
.load-more {
  display: block;
  margin: 30px auto;
}
.divEl {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
  margin-top: 40px;
  justify-content: center;
  padding-top: 20px;
  background-color: blue;
}
